body {
    background-image: radial-gradient(circle, #dc711a, #d06b19, #c46517, #b85f16, #ac5915);

}

.all {
    min-height: 100%;
}

.inp-box {
    margin-bottom: 50px;
}

.pb-1 {
    color: #DEDEDE;
    font-weight: 900;
    font-size: 2rem;
    font-variant: small-caps;
}

.pb-2 {
    color: #DEDEDE;
    font-weight: 900;
    font-size: 2rem;
    font-variant: small-caps;
}

.pb-3 {
    color: #DEDEDE;
    font-weight: 900;
    font-size: 2rem;
    font-variant: small-caps;
}

.sd {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.p2b {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.p-2 {
    background-color: #DFE0DF;
    width: 300px;
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
    color: #000;
    height: 50px;
    border-radius: 10px;
    display: none;

}

button {
    background-color: #402E32;
    box-shadow: 0px 5px 0px #22191b;
    color: #DFE0DF;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    margin: 5px 2px;
    font-variant: small-caps;
    font-weight: 900;
    font-size: 2.5rem;
    border-radius: 10px;
    transition: 0.3s;
    border: 3px solid #150f11;
}
.footer-2{
    color: #b1b0b0;
    font-size: 2rem;
    text-decoration: none;
}
.footer-1{
    color: #b1b0b0;
    font-size: 1.5rem;
}

.footer {
    background-color: #22191b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    height: 80px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

button:active {
    box-shadow: 0px 1px 0px #22191b;
    transform: translateY(4px);
}

.calculator {
    user-select: none;
    border: 3px solid #48312c;
    box-shadow: 0px 20px 0px #48312c;
    margin-top: 10px;
    background-color: #80564D;
    display: flex;
    box-sizing: border-box;
    justify-content: end;
    padding-bottom: 30px;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 600px;
    border-radius: 10px;
}

.p-1 {
    display: flex;
    align-items: center;
    background-color: #DEDEDE;
    user-select: none;
    color: #150f11;
    width: 420px;
    height: 100px;
    font-weight: 900;
    font-size: 4rem;
    border-radius: 10px;
    box-sizing: border-box;
}

.btn-calc {
    color: #DEDEDE;
}

.sd>button {
    width: 300px;
}

.btn2 {
    color: #402E32;
}

.btn-2 {
    display: none;
}

.btn-3 {
    display: none;
}

.btn-11 {
    display: none;
}

.btn-12 {
    display: none;
}

.btn-4 {
    display: none;
}

.btn-5 {
    display: none;
}

.btn-6 {
    display: none;
}

.koren {
    display: none;
}

.step {
    display: none;
}

.btn-7 {
    display: none;
}

.btn-8 {
    display: none;
}

.btn-9 {
    display: none;
}

.btn-10 {
    display: none;
}

.btn-10P {
    display: none;
}

.inp-2 {
    display: none;
}

.inp-1 {
    display: none;
}

.inp-3 {
    display: none;
}

.inp-box input {
    padding: 10px;
    border-radius: 10px;
    background-color: #DFE0DF;
}